<?xml version="1.0" encoding="UTF-8" ?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                             http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="WebApp_ID" version="2.5">

    <!-- 这里的配置可以被所有servlet读取-->
    <!--<context-param>-->
        <!--<param-name></param-name>-->
        <!--<param-value></param-value>-->
    <!--</context-param>-->



    <servlet>
        <servlet-name>hello</servlet-name>
        <servlet-class>com.niqikai.servletdemo.Hello</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>helloGeneric</servlet-name>
        <servlet-class>com.niqikai.servletdemo.GenericHello</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>helloHttp</servlet-name>
        <servlet-class>com.niqikai.servletdemo.HttpHello</servlet-class>
    </servlet>

    <!-- cookie -->
    <servlet>
        <servlet-name>createcookie</servlet-name>
        <servlet-class>com.niqikai.cookie.CreateCookie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>readcookie</servlet-name>
        <servlet-class>com.niqikai.cookie.ReadCookie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>config</servlet-name>
        <servlet-class>com.niqikai.servletdemo.ConfigServlet</servlet-class>
        <!-- 可以给servlet配置信息，只能被自己读取 -->
        <init-param>
            <param-name>encoding</param-name>
            <param-value>utf-8</param-value>
        </init-param>
        <init-param>
            <param-name>author</param-name>
            <param-value>niqikai</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>startUp</servlet-name>
        <servlet-class>com.niqikai.servletdemo.StartUpServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>



    <servlet-mapping>
        <servlet-name>hello</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>helloGeneric</servlet-name>
        <url-pattern>/helloGeneric</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>helloHttp</servlet-name>
        <url-pattern>/helloHttp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>config</servlet-name>
        <url-pattern>/config</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createcookie</servlet-name>
        <url-pattern>/createcookie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>readcookie</servlet-name>
        <url-pattern>/readcookie</url-pattern>
    </servlet-mapping>
    
    
    
    
    
    
    
</web-app>
